.shop-filters {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  background: #f4f4f4;
  margin-bottom: 20px;
  border-radius: 8px;
}

.shop-filters select {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
}
