.shop-container {
  display: flex;
  width: 100%;
}

.shop-content {
  flex: 1;
  padding: 20px;
}
.mobile-filter-btn {
  display: none;
  padding: 10px 16px;
  font-size: 16px;
  background: #0073e6;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 10px;
}

@media (max-width: 768px) {
  .mobile-filter-btn {
    display: block;
  }
}
