.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    gap: 10px;
    padding-top: 20px;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600; 
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
